<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radiusnetworks.ibeaconreference"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.radiusnetworks.ibeaconreference.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.radiusnetworks.ibeaconreference.MonitoringActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="com.radiusnetworks.ibeaconreference.BeaconDetactorService"
            android:enabled="true" >
            <meta-data
                android:name="background"
                android:value="true" />
        </service>

    </application>

</manifest>